* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

.main-container {
  margin: 50px;
  text-align: center;

}

.content {
  border: 2px solid black;
  padding:2rem;
  font-size: 24px;
  // max-height: 800px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-section {
  border: 2px solid rgb(75, 159, 89);
  margin-bottom: 20px;
  

}
.hero-content {
  border: 2px solid rgb(201, 58, 58);
  display: flex;
  justify-content: space-between;  

  .hero-image,
  .hero-text{
    flex:1;
  }
}

.hero-image{
  overflow: hidden;
  max-width: 600px;
  max-height: 600px;
}

.howto-section {
  border: 2px solid black;
  padding: 2rem;
  margin-top: 20px;
  background-color: #BBD6B8;
}

.howto-steps{
  display: flex;
  justify-content: space-evenly;
  gap: 6rem;

  .step1, .step2, .step3{
    border: 2px solid black;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 15px;
    rotate: 60deg;

    
  }
}
